<div class="row margintop"><div class="col-md-2"></div><div class="col-md-8">

  <div class="panel panel-default">
    <div class="panel-body">
      <ol class="picks">
        <%= render @picks %>
      </ol>
    </div>
    <%= will_paginate @picks %>
  </div>
</div><div class="col-md-2"></div></div>