
<div class="container-fluid fondogris"><br><br>
  <div class="row">
    <br><br>
    <div class="col-sm-3"><!-- /container --></div>
    <div class="col-sm-6" id="crear_form">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 style="text-align: center">Reporta un nuevo bug</h2>
          <%= render 'newbug' %>
          <%= link_to 'Mostrar reportes actuales', bugtracking_index_path %>
        </div></div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

