
<div class="container-fluid fondogris"><br><br>
<div class="row">
  <br><br>
    <div class="col-sm-3"><!-- /container --></div>
    <div class="col-sm-6" id="crear_form">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 style="text-align: center">Publica un nuevo pick</h2>
          <div style="text-align: center"><span style="color: #b92c28">* Cuidado: Después de ser creado solo podrá ser
            eliminado en los próximos 10 minutos.</span></div>
      <%= render 'form' %>
      <%= link_to 'Atrás', root_path %>
          </div></div>
</div>
    <div class="col-sm-3"></div>
</div>
</div>


