<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PICKADOS - Crear pick</title>
 

</head>
<body>


<img src="img/logopickados.jpg">
<ul class="nav nav-tabs">
    <li><a href="/web/index.html">Inicio</a></li>
    <li><a href="/web/picks_bb.html">Picks_BB</a></li>
    <li><a href="/web/mispicks.html">Mis Picks</a></li>
</ul>



<div class="container-fluid">
<div class="row">
    <div class="col-sm-3"><!-- /container --></div>
    <div class="col-sm-6" id="crear_form">
      <%= render 'form' %>
      <%= link_to 'Back', picks_path %>

      <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-lg-2 control-label">Deporte</label>
            <div class="col-lg-10">
                <input  type="text" class="form-control" id="deporte" placeholder="Deporte" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Cuota</label>
            <div class="col-lg-10">
                <input  type="number" class="form-control" id="cuota" placeholder="@ valor numérico" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Pronóstico</label>
            <div class="col-lg-10">
                <input required="required" type="text" class="form-control" id="pronostico" placeholder="Ej. Gana Barcelona" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Categoria</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="categoria" placeholder="Liga/Campeonato/etc..." required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Evento</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="evento" placeholder="Partido, ej. : Madrid-Barcelona" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Stake</label>
            <div class="col-lg-10">
                <input  type="number" class="form-control" id="stake" placeholder="Valor numérico 1-10" required>
            </div>
        </div>
        <input type="button" id="botoncrear" class="btn btn-success" value="Publicar" />
    </form></div>
    <div class="col-sm-3"></div>
</div>
</div>





</body>
</html>