<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PICKADOS - Crear pick</title>
 

</head>
<body>



<div class="container-fluid">
<div class="row">
    <div class="col-sm-3"><!-- /container --></div>
    <div class="col-sm-6" id="crear_form">
      <%= render 'form' %>
      <%= link_to 'Atrás', picks_path %>
</div>
    <div class="col-sm-3"></div>
</div>
</div>





</body>
</html>