/**$('.muestra').on('ajax:success', function(evt, data) {
    var target = $(this); // Find where is the destination
    $(target).html('HOLAAAA');
});**/
$('.tickandoazul').bind('ajax:success', function(event) {
    var clicked_div = $(this).parent(".muestra");
  clicked_div.html("<span style='color:#5064c9'><b>Anulada</b></span>");

});

$('.tickandoverde').bind('ajax:success', function(event) {
    var clicked_div = $(this).parent(".muestra");
    clicked_div.html("<span style='color:#39c95c'><b>Acertada</b></span>");

});

$('.tickandorojo').bind('ajax:success', function(event) {
    var clicked_div = $(this).parent(".muestra");
    clicked_div.html("<span style='color:#c93b36'><b>Fallada</b></span>");

});