// Place all the styles related to the tipsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fondonegrotrans > h3 {
  font-family: Arial,Sans-Serif;
  color: #ffffff;

}

.tableblanco {
  background-color: azure;
}

.paddeado {
  padding: 20px;
}