<footer>
  <div class="navbar navbar-inverse  ">
    <div class="container">

      <div class="row footernav" style="margin-top: 20px; margin-bottom: 20px">
        <div class="col-md-3"><%= link_to image_tag("logo3.png",:width=>"150",:height=>"66" ), root_path%>
        <h4>Algo más que un pick. <br>Aumenta tus ganancias.</h4></div>
      <!--<div class="navbar-collapse collapse" id="footer-body">
        <ul class="nav navbar-nav">-->
        <div class="col-md-3">
          <h3>Nosotros</h3>
          <li><a href="#">Quiénes somos</a></li>
          <li><a href="#">Términos &amp; Condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>

        </div>
        <div class="col-md-3">
          <h3>Ayuda</h3>
          <li><a href="#">Contacta</a></li>
          <li><a href="#">FAQ</a></li>

        </div>
        <div class="col-md-3"><h3>Redes sociales</h3>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </div>
      <!-- </ul>
     </div>    -->
      </div>
   </div>
 </div>
</footer>