<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-collapse collapse" id="footer-body">
        <ul class="nav navbar-nav">
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contáctanos</a></li>
          <li><a href="#">Afiliados</a></li>
          <li><a href="#">Términos &amp; Condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
        </ul>
      </div>    

    </div>
  </div>
</footer>